body {
  /*Bruk denne fargen som "pine" #0d1c10*/
  background-color: #121212
}

h1, h2, h3 { 
  color: white; 
}

p {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: burlywood;
  text-decoration: none;
}

a:hover {
  color: red; 
  text-decoration: underline;
}

.container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  border: 3px solid yellow;
}

.header{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  
  a:link {
    color: black;
  }
  a:visited {
   color: black; 
  }
  a:hover {
    color: black;
  }
}

.main-layout{
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  border: 3px solid red;
}

.portrait{
  flex: 1 1 auto;
}

.main-layout > *{
  border: 3px solid blue;
  flex: 1 1 auto;
}

.btn {
  transition: all 0.4s;
  border: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}
