body {
  /*Bruk denne fargen som "pine" #0d1c10*/
  background-color: #121212
}

h1, h2, h3 { 
  color: white; 
}

p {
  color: white;
}

.container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 3px solid yellow; */
}

header{
  position: sticky;
  top: 0;
  z-index: 10;
}

header.links{
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black; 
  }
  a:hover {
    color: black;
    text-decoration: underline;
  }
}

.main-layout{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  /* border: 3px solid red; */
}

.box{
  flex: 1 1 50%;
  box-sizing: border-box;
  min-width: 220px;
  text-align: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.03);
  border-radius: 8px;
}

 /* IMAGE RULES */
.box img{
  border-radius: 10px;
  max-height: 350px;
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: contain;

  transition: max-height 0.3s ease, width 0.3s ease;
}

@media (max-width: 600px) {
  .box {flex: 1 1 100%; min-width: 100%;}
  .box img { max-height: 220px;}
}


/* BUTTON RULES */
.btn {
  transition: all 0.4s;
  border: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}
